/* body
{
    padding-left: 40%;
    padding-top: 10%;
    padding-right: 15%;
    padding-bottom: 20%;
    background-color: rgb(19, 118, 231);
} */

body{
    background-color:rgb(19, 118, 231) ;
}
div{
    align-items: center;
    justify-content: center;
    margin: auto;
}
form{
    border-radius: 10px;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: white;
}